/*header*/
.logo{
	font-size: 38px;
	color: #FA6980;
	margin-left: 20px;
	margin-right: 40px;
	vertical-align: middle;
	display: inline-block;
}

nav{
	display: inline-block;
	vertical-align: middle;
}

li{
	display: inline-block;
	margin-right: 18px;

}

.nav-a{
	color: #343638;
	font-size: 11px;
}
/*end header*/

/*section 1*/

.container{
	margin: 0 auto;
	width: 1170px;
}

h1{
	margin-left: 168px;
	margin-top: 50px;
	color: #202124;
	font-size: 24px;
}


.img-size{
	width: 360px;
	height: 180px;
	margin-top: 50px;
}

.wrapper{
	position: relative;
	display: inline-block;
	width: 360px;
	height: 350px;
	background: white;
}

.p-1{
	position: absolute;
	top: 70px;
	left: 40px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

.p-2{
	position: absolute;
	margin: 40px 40px 66px;
	font-size: 13px;
	color: #A6ADB4;
}

.p-3{
	position: absolute;
	font-size: 13px;
	color: #A6ADB4;
	margin: 100px 251px 40px 66px;
}

.img-1{
	position: absolute;
	bottom: 0px;
	left: 40px;
}